* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: "Helvetica", sans-serif;
}
main {
  max-width: 600px;
  background-color: white;
  padding: 20px;
  margin: 100px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
h1 {
  margin-top: 0;
  text-align: center;
}
header {
  display: flex;
  flex-direction: column;
  gap: 21.44px;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
input[type="button"] {
  background-color: #4caf50;
  color: white;
  border-radius: 0;
  font-size: 18px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
}
input[type="button"]:hover {
  background-color: #45a049;
}
span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}
